{% comment %}Thanks, https://tailwindui.com/preview{% endcomment %}
<div class="bg-gray-50">
  <div class="max-w-7xl mx-auto mt-4 py-3 px-3 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between flex-wrap">
      <div class="w-0 flex-1 flex items-center">
        <p class="font-medium text-gray-700 truncate">
          <span class="hidden md:inline">
            {{ the_include }}
          </span>
        </p>
      </div>
    </div>
  </div>
</div>