<!doctype html>
<html lang="en">
  {% include 'layouts/html_head' %}
  <body>
    <div id="site-wrap">
      
      <main id="content">
        {{ content }}
      </main>

      <!-- Current page: {{ page.url | url }} -->
    </div>{%- comment -%}End div#site-wrap{%- endcomment -%}
  </body>
</html>